language: go

go:
  - 1.8
  - 1.9

install:
  - go get -u github.com/golang/lint/golint
  - go get -u github.com/golang/dep/cmd/dep
  - dep ensure

before_script:
  - go vet $(go list ./... | grep -vF /vendor/)
  - golint -set_exit_status $(go list ./... | grep -vF /vendor/)

script:
  - go test -v
